@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
#root,
main,
body {
  margin: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ================
  Global variables
  ================*/
:root {
  --primary-color: ;
  --header-bg-color: #246a73;
  --footer-bg-color: #160f29;
  --header-footer-font-color: cornsilk;
  --main-font: 'Montserrat', cursive;
  --header-footer-font: 'Comfortaa', cursive;
}

main {
  margin: 0;
  padding: 1em;
}
body {
  font-family: var(--header-footer-font);
  background-color: #d4f4dd;
}

header {
  padding: 1rem;
}

footer {
  text-align: left;
  background-color: var(--footer-bg-color);
  color: var(--header-footer-font-color);
  font-family: var(--header-footer-font);
  padding: 1rem;
}

h1 {
  text-align: center;
}

/* ================
NavBar styling
================*/

.navBar {
  color: var(--header-footer-font-color);
  font-size: larger;
}

.navList {
  margin: 0;
  background-color: var(--header-bg-color);
  padding: 2rem;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

a {
  font-family: var(--header-footer-font);
  color: var(--header-footer-font-color);
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
}

a:hover {
  color: #d62246;
}

h2 {
  color: var(--header-bg-color);
  font-size: large;
  margin-top: 3rem;
}

/* ================
Map Component
================*/
.map {
  margin: auto;
  width: 50%;
}

.leaflet-container {
  margin-top: 1em;
  border-radius: 30px;
  margin: 0;
}

.leaflet-control-attribution a {
  font-size: 10px;
}
.leaflet-div-icon {
  background: #00000000;
  border: none;
}
/* ================
Cards
================*/

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
}

.cards {
  box-sizing: border-box;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card_image-container {
  border-radius: 20px;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card_image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 20px;
}

.add_card_content {
  height: 250px;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
  box-shadow: lightslategray;
  border-radius: 20px;
}

.card_title {
  margin-bottom: 20px;
}

.card_info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card_year {
  margin-left: auto;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.passport {
  padding-top: 1em;
  height: 200px;
}
.add_card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ================
  Media Queries
  ================*/
@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}
@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
