@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  margin: 0;
  min-height: 100vh;
}

/* ================
  Global variables
  ================*/
:root {
  --primary-color: ;
  --header-bg-color: #246a73;
  --footer-bg-color: #160f29;
  --header-footer-font-color: cornsilk;
  --main-font: 'Montserrat', cursive;
  --header-footer-font: 'Comfortaa', cursive;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: var(--header-footer-font);
  display: flex;
  flex-direction: column;
  background-color: #d4f4dd;
  text-align: center;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.navBar {
  height: 10vh;
  background-color: var(--header-bg-color);
  color: var(--header-footer-font-color);
  font-size: larger;
  align-items: center;
}

.navList {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header {
  color: var(--header-footer-font-color);
}

footer {
  text-align: left;
  background-color: var(--footer-bg-color);
  color: var(--header-footer-font-color);
  font-family: var(--header-footer-font);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ================
  NavLinks styling
  ================*/

a {
  text-align: center;
  font-family: var(--header-footer-font);
  color: var(--header-footer-font-color);
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
}

a:hover {
  color: #d62246;
}
/* ================
  Cards styling
  ================*/

.country-card {
  margin: auto;
  padding-top: 20px;
  border-color: #d62246;
  border-style: ridge;
  border-radius: 10%;
}

/* ================
  Cards styling
  ================*/
.leaflet-control-attribution .leaflet-control {
  font-family: var(--main-font);
  font-size: 10px;
}
